{
  "options": {
    "flat_interface": "eth0",
    "use_keystone": true,
    "use_ipv6": false,
    "use_glance": true,
    "network_manager": "FlatDHCPManager",
    "libvirt_type": "qemu",
    "fixed_range": "10.0.0.0/24",
    "floating_range": "10.0.1.0/24",

    "nova_admin_username": "changeme",
    "nova_admin_password": "changeme",
    "mysql_nova_password": "changeme",
    "mysql_root_password": "changeme",
    "root_password": "changeme",
    "root_authorized_keys": "ssh-dss AAAAV <snip> iwJD== foo@foo.bar.com",

    "use_swauth": true,
    "swift_hash_suffix": "changeme",
    "swauth_allow_account_management": "false",
    "swauth_super_admin_key": "changeme",
    "swauth_endpoint": "http://#{swift-proxy-node}:8080/v1",

    "mysql_vip": "#{nova-infra}",
    "api_vip": "#{nova-infra}",
    "glance_vip": "#{nova-infra}",
    "rabbitmq_vip": "#{nova-infra}",
    "vncproxy_host": "#{nova-infra}",

    "site_branding": "lab.rcb.me",
  },

  "cluster": {
    "nova-db": "nova-infra",
    "rabbitmq": "nova-infra",
    "api": "nova-infra",
    "scheduler": "nova-infra",
    "glance": "nova-infra",
    "nova-compute-node": "nova-compute-.*"
  }
}

