## Site config
import "classes/*"
import "sitedefs.pp"

## 
## Uncomment and copy to site.pp for all-in-one config
##
# 
# $flat_interface = "eth0"
# $use_keystone = true
# $use_ipv6 = false
# $use_glance = true
# $network_manager = "FlatDHCPManager"
# $libvirt_type = "qemu"
# $fixed_range = "10.0.0.0/24"
# $floating_range = "10.0.1.0/24"
# $nova_admin_username = "changeme"
# $nova_admin_password = "changeme"
# $mysql_nova_password = "changeme"
# $mysql_root_password = "changeme"
# $root_password = "changeme"
# $root_authorized_keys = ""
# $mysql_vip = "127.0.0.1"
# $api_vip = "127.0.0.1"
# $rabbitmq_vip = "127.0.0.1"
#
#
#node default {
#  include nova-infra-node
#  include nova-compute-node
#}

